.navbar-container{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.9);
  color: $boolblue;
  font-weight: 700;
  .logo {
      text-align: center;
      h1 {
          a {
              color: black;
          }
      }
  }
  .logo:hover {
      h1 {
          a {
              color: $boolblue;
          }
      }
  }
  .menu {
      text-align: center;
  }
  .menu-search {
      text-align: center;
  }
  a {
      text-decoration: none;
      color: $boolblue;
  }
  ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 4px;
      width: 100%;
      list-style: none;
      margin: 0;
      li {
          a:hover {
              border-radius: 50px;
              background-color: rgba(235, 233, 233, 0.9);
          }
      }
  }
  input {
      border: none;
      border-bottom: 2px solid $boolblue;
      width: 100%;
      outline: none;
      color: $boolblue;
  }
  .dropdown-menu {
      position: relative;
      text-align: center;
      display: inline-block;
      border: none;
      width: 100%;
      button {
          border: none;
          background-color: white;
          font-weight: 700;
          color: $boolblue;
          height: 100%;
          width: 100%;
      }
      .dropdown-content {
          position: absolute;
          left: 50%;
          display: none;
          z-index: 1;
          text-align: center;
          background-color: white;
      }
  }
  .dropdown-menu:active .dropdown-content,
  .dropdown-menu:hover .dropdown-content {
      display: block;
  }
}

@media (max-width: 767px) {
  .menu {
      display: none;
  }
}

@media (min-width: 768px) {
  .dropdown-menu.row.responsive, .menu-search {
      display: none;
  }
}