
.navbar-container{
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(208, 208, 208, 0.898);
  color: $boolblue;
  font-weight: 700;
  .logo {
    text-align: center;
    h1 {
      a {
        color: black;
      }
    }
  }
  .menu {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $boolblue;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    width: 100%;
    list-style: none;
    margin: 0;
    li {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 12.5px;
      a {
        padding: 13px;
      }
      a:hover {
        border-radius: 50px;
        background-color: rgba(235, 233, 233, 0.981);
        
      }
    }
    input {
      border: none;
      border-bottom: 2px solid $boolblue;
      width: 400px;
      outline: none;
      color: $boolblue;
    }
  }
}


@media (min-width: 200px) and (max-width: 549px) {
  .bigbar{
    ul{
      padding: 0;
      display: flex;
      align-items: center;
      li{
        margin: 0;
        text-align: right;
        width: 100%;
        float: left;
      }
    }
  }
 }

