.house_container {

  margin-top: 50px;

  .row {
    margin-bottom: 30px;
  }

  h1.title {
    text-align: center;
    margin: 40px auto;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      font-size: 16px;
    }
  }

  .img-area {
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
  }

  .details {
    padding-left: 30px;
  }

  .buttons {
    text-align: center;
    margin: 80px auto;
    .button {
      width: 20%;
      margin: 30px;
      padding: 10px 30px;
      background-color: white;
      color: $boolblue;
      border: none;
      border-bottom: 2px solid $boolblue;
      font-weight: bold;
      border-radius: 20px;
    }
    .button:hover {
      text-decoration: none;
      color: #04233a;
      border-bottom: 2px solid #04233a;
    }
  }


}