
#sponsor-container{

    
    #sponsor-title{
        text-align: center;
        margin: 10px;
     }
     form{
        #sponsor{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                width: 100%;
                margin: 20px;
                border: 1px solid lightblue;
                padding: 20px;
                border-radius: 10px;
            }
           }
    
           
    }
    

}


    
